@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    color: #FFFFEC;
    font-family: 'Noto Sans';
    background-color: #CCCCCC;
}

input {
    width: 75%;
    height: 22px;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: auto;
    margin-bottom: 1.5rem;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #a434b8;
}

button {
    color: #fff;
    background-color: #1D0C20;
    padding: 15px;
    width: 60%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #2f0f35;
}

.container {
    padding: 1.2rem 2rem;
    padding-bottom: 0.8rem;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    width: 750px;
    background-image: linear-gradient( to bottom, #210D25, #641F70);
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-title {
    color: #FECD23;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: 'Encode Sans SC';
}

.header-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    padding: 1rem 0.2rem 1.3rem 0.2rem;
    border-radius: 10px;
    background-image: linear-gradient( to top, #210D25, #641F70);
}

.form-register-title {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    padding: 0.4rem;
}

.choices {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.choices-card {
    background: linear-gradient(to bottom, #2738DB, #342989);
    border-radius: 10px;
    padding: 0.7rem;
    padding-top: 1rem;
}

.choice-1, .choice-2, .choice-3 {
    background: linear-gradient(to bottom, #3E5FEF, #72CBFE);
    padding: 1.9rem 0.5rem 0.5rem 0.5rem;
}

.choice-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.footer {
    font-size: 0.9rem;
}

@media (max-width: 620px) {

    html {
        font-size: 13px;
    }

    input {
        width: 85%;
    }

    .header {
        padding: 0 10px;
    }

    .header-title {
        padding: 10px;
        margin-bottom: 15px;
    }

    button {
        width: 60%;
    }

    .container {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    .form-register {
        padding-top: 20px;
        margin: 10px 30px 10px 30px;
    }

    .choices {
        flex-direction: column;
        margin: auto;
        width: 80%;
    }

    .choices-card {
        margin-top: 20px;
    }
}